* {
    box-sizing: border-box;
}

.main-header, .header-nav, .col-box, .readmore {
    display: flex;
}


/* =================
    HEADER
================= */

.header-container {
    background-color: rgb(66, 134, 176);
    padding: 10px 0;
    margin-bottom: 80px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-header {
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 250px;
}

.header-nav {
    gap: 30px;
    font-size: 20px;
}

.header-nav a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-nav a:hover {
    background-color: white;
    color: rgb(33, 103, 160);
    border-radius: 4px;
}


/* =================
    BANNER
================= */


.banner {
    display: flex;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.banner-title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}


/* =================
    MAIN
================= */

.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgb(0, 0, 0, 0.6);
    border-bottom: 4px solid rgb(0, 0, 0, 0.3);
}

.col-box {
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-box a {
    display: block;
    width: 48%;
    padding: 40px 50px;
    text-decoration: none;
    background: rgb(204, 223, 235);
    color: rgb(47, 47, 47);
    border-radius: 8px;
    margin-bottom: 30px;

}

.col-box a:hover {
    background-color: rgb(227, 237, 244);
    box-shadow: 5px 5px 5px lightgray
}

.col-box a:active {
    background-color: rgb(66, 134, 176, 0.5);
    box-shadow: 5px 5px 5px lightgray;
}

.col p {
    line-height: 1.5;
    color: rgb(48, 48, 48);
}


.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.readmore {
    justify-content: center;
    margin: 10px 0;
}

.readmore button {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    background-color: rgb(66, 134, 176);
    border: 0px;
    border-radius: 4px;
}

.readmore button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid rgb(66, 134, 176);
}