@media screen and (min-width: 1355px) and (max-width: 1419px) {
    
    #navBarBlogBtn {
        display: none;
    }

}


@media screen and (min-width: 1290px) and (max-width: 1354px) {

    #navBarCommunityBtn {
        display: none;
    }

}


@media screen and (min-width: 1225px) and (max-width: 1289px) {

    #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}


@media screen and (min-width: 1217px) and (max-width: 1224px) {
    
    #navBarLearnBtn, #navBarCommunityBtn {
        display: none;
    }

}

@media screen and (min-width: 1152px) and (max-width: 1216px) {
    
    #navBarLearnBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}

@media screen and (min-width: 1146px) and (max-width: 1151px) {
    
    #navBarEventsBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}


@media screen and (min-width: 1138px) and (max-width: 1145px) {
    
    #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn {
        display: none;
    }

}



@media screen and (min-width: 1073px) and (max-width: 1137px) {
    
    #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn, #navBarBlogBtn {
        display: none;
    }

}



@media screen and (min-width: 1056px) and (max-width: 1072px) {
    
    #navBarSolutionsBtn, #navBarLearnBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}

@media screen and (min-width: 1050px) and (max-width: 1055px) {
    
    #navBarSolutionsBtn, #navBarEventsBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}


@media screen and (min-width: 1042px) and (max-width: 1049px) {
    
    #navBarSolutionsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn {
        display: none;
    }

}



@media screen and (min-width: 977px) and (max-width: 1041px) {
    
    #navBarSolutionsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn, #navBarBlogBtn {
        display: none;
    }

}


@media screen and (min-width: 960px) and (max-width: 976px) {
    
    #navBarProductsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn, #navBarBlogBtn {
        display: none;
    }

}



@media screen and (min-width: 943px) and (max-width: 959px) {
    
    #navBarProductsBtn, #navBarSolutionsBtn, #navBarLearnBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}

@media screen and (min-width: 937px) and (max-width: 942px) {
    
    #navBarProductsBtn, #navBarSolutionsBtn, #navBarEventsBtn, #navBarBlogBtn, #navBarCommunityBtn {
        display: none;
    }

}


@media screen and (min-width: 929px) and (max-width: 936px) {
    
    #navBarProductsBtn, #navBarSolutionsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn {
        display: none;
    }

} 



@media screen and (min-width: 841px) and (max-width: 928px) {
    
    #navBarProductsBtn, #navBarSolutionsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn, #navBarBlogBtn {
        display: none;
    }

}


@media screen and (max-width: 840px) {
    
    #navBarProductsBtn, #navBarSolutionsBtn, #navBarEventsBtn, #navBarLearnBtn, #navBarCommunityBtn, #navBarBlogBtn, #navBarMoreBtn {
        display: none;
    }

    .search-box {
        background: none;
        padding: 0;
    }

    .search-box input {
        display: none;
    }


}


/* =========== RWD =============== */

@media screen and (max-width: 1127px) {
    .interest-article article {
        min-width: 30vw;
    }
}

@media screen and (max-width: 960px) {
    
    .main-section {
        padding: 40px 0;
        flex-direction: column;
    }

    .title, .animate-box {
        width: 94%;
    }

    .build-box {
        flex-direction: column;
        width: 55%;
    }

    .trending-news-box {
        flex-direction: column;
        border: 0;
        gap: 20px;
        align-items: start;
    }

    .news-box-40 {
        width: 90%;
    }
    
    .news-box-60 {
        width: 75%;
        order: -1;
    }
    
    .news-title {
        margin-bottom:30px;
    }
    
    .news-box-img {
        width: 100%;
        border-radius: 8px;
    }

}


@media screen and (max-width: 850px) {

    .build-box {
        flex-direction: column;
        width: 70%;
    }

    .product-list a {
        width: 48.5%;
    }
}

@media screen and (max-width: 840px) {

    .follow-article {
        width: 48%;
    }


    .footer-navbar {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .footer-navbar ul {
        gap: 0px;
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom-words {
        margin-right: 10px;
    }

    .footer-bottom-right {
        flex-direction: column;
        align-items: start;
        margin-top: 16px;
    }

}


@media screen and (max-width: 600px) {

    #selectLanguageBtn1 {
        display: none;
    }

    .interest-article article {
        min-width: 70vw;
    }

    .product-list a {
        width: 98%;
    }

    .btn-swich {
        display: none;
    }

    .new-article-box {
        flex-direction: column;
    }

    .new-android-box {
        padding: 60px 0;
    }
    .news-box-50 {
        width: 100%;
    }

    .news-box-60 {
        width: 100%;
        order: -1;
    }

    .follow-article {
        width: 98%;
    }

    .follow-article h3 {
        margin: 20px 0;
    }

    .footer-list-container {
        flex-direction: column;
    }

    .order-first {
        order: -1;
    }
}


/* =========== up RWD up ============= */
