* {
    box-sizing: border-box;
    border: 0px;
}


/* ================================================
    HEADER
================================================= */


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    padding: 0 16px 0 24px;
    box-shadow: 0 2px 10px gray;
}

.main-logo {
    width: 216px;
}

.header-navbar {
    display: flex;
}

.header-navbar button {
    color: #5F6368;
    background-color: #fff;
    border: 0px;
    padding: 0 18px;
}

.header-navbar li {
    display: flex;
    align-items: center;
    font-size: 14px;

}

.search-box {
    display: flex;
    align-items: center;
    background-color: #F1F3F4;
    padding: 8px;
    border-radius: 4px;
}

.search-box input {
    border: 0px;
    background-color: #F1F3F4;
}

.select-language-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #5F6368;
    padding: 0 7px 0 11px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
    font-size: 14px;
    padding: 0 7px 0 11px;
}

.profile-btn {
    border: 1px solid rgb(218, 220, 224);
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.profile-btn span {
    color: #5F6368;
}

.profile-btn:hover {
    background: #E7EAED;
}

.avatar-btn {
    background: #fff;
    width: 48px;
    height: 48px;
}

.avatar-btn:hover {
    background: #E7F0FE;
}

.avatar {
    width: 32px;
    border-radius: 50%;
}


/* ================================================
    section 1 ( main-section )
================================================= */

.container {
    max-width: 1500px;
    padding: 0 24px;
}

.main-section {
    margin: 40px 0;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title, .animate-box {
    width: 48%;
}

.title h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}

.title p {
    font-size: 24px;
    line-height: 1.5;
    color: #202124;
}

.animate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animate-box video {
    width: 100%;
    margin-bottom: 36px;
}

.build-box {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.build-list {
    display: flex;
    margin-top: 12px;
    gap: 20px;
}

.build-list a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1a73e8;
    text-decoration: none;
    padding: 6px 24px;
    border: 2px solid black;
    border-radius: 4px;
}

.build-list a:hover {
    background: #E7F0FE;
}

.build-list .material-symbols-outlined {
    font-size: 18px;

}



/* ================================================
    section 2 ( interest-section )
================================================= */


.bg-gray {
    background-color: #F0F3F4;
}

.interests-section {
    padding: 40px 24px 16px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.interest-top {
    display: flex;
    justify-content: space-between;
}

.interest-top button {
    padding: 8px 16px;
    border-radius: 8px;
    color: #1a73e8;
    font-weight: bold;
    background: none;
}

.interest-top button:hover {
    background: #E7F0FE;

}

.flex-aic {
    display: flex;
    align-items: center;
}

.interest-list {
    display: flex;
    justify-content: space-between;
}

.interest-list button {
    font-size: 14px;
    padding: 8px 16px;
    background: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
}

.interest-article {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.interest-article article {
    padding: 16px;
    background: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.interest-article span {
    font-size: 12px;
}

.interest-article a {
    font-size: 20px;
    color: #1a73e8;
    text-decoration: none;
    line-height: 28px;
}

.interest-article p {
    font-size: 16px;
    line-height: 1.5;
    color: #202124;
}




/* ================================================
    section 3 ( product-section )
================================================= */

.product-section {
    padding: 40px 0;
}

.product-section h2 {
    font-size: 48px;
    color: #202124;
    font-weight: bold;
    text-align: center;
}

.product-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list a {
    width: 23.5%;
    text-decoration: none;
    color: #202124;
    line-height: 1.5;
    text-align: center;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-list a:hover {
    text-decoration: underline #1a73e8;
}

.product-box {
    padding: 8px 32px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-box figure {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box img {
    width: 64px;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
}