* {
    box-sizing: border-box;
    border: 0px;
}


/* ================================================
    HEADER
================================================= */


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    padding: 0 16px 0 24px;
    box-shadow: 0 2px 10px gray;
    height: 48px;
}

.main-logo {
    width: 216px;
    cursor: pointer;
}

.header-navbar {
    display: flex;
}

.header-navbar button {
    color: #5F6368;
    background-color: #fff;
    border: 0px;
    padding: 0 18px;
    cursor: pointer;
}

.header-navbar li {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #F1F3F4;
    padding: 8px;
    height: 36px;
    border-radius: 4px;
}

.search-box:hover {
    background: #E7EAED;
}

.search-box input {
    border: 0px;
    background-color: #F1F3F4;
}

.select-language-btn {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #fff;
    color: #5F6368;
    padding: 0 7px 0 11px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
    font-size: 14px;
    padding: 0 7px 0 11px;
    height: 36px;
}

.select-language-btn:hover {
    background: #F0F3F4;
    cursor: pointer;
}

.profile-btn {
    border: 1px solid rgb(218, 220, 224);
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn span {
    color: #5F6368;
    cursor: pointer;
}

.profile-btn:hover {
    background: #E7EAED;
}

.avatar-btn {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-btn:hover {
    background: #E7F0FE;
    cursor: pointer;
}

.avatar {
    width: 32px;
    border-radius: 50%;
}


/* ================================================
    section 1 ( main-section )
================================================= */

.container {
    max-width: 1500px;
    padding: 0 24px;
}

.main-section {
    margin: 40px 0;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title, .animate-box {
    width: 48%;
}

.title h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

.title p {
    font-size: 24px;
    line-height: 1.5;
    color: #202124;
}

.animate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animate-box video {
    width: 100%;
    margin-bottom: 36px;
}

.build-box {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.build-list {
    display: flex;
    margin-top: 12px;
    gap: 20px;
}

.build-list a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1a73e8;
    text-decoration: none;
    padding: 6px 24px;
    border: 2px solid black;
    border-radius: 4px;
}

.build-list a:hover {
    background: #E7F0FE;
}

.build-list .material-symbols-outlined {
    font-size: 18px;

}



/* ================================================
    section 2 ( interest-section )
================================================= */


.bg-gray {
    background-color: #F0F3F4;
}

.interests-section {
    padding: 40px 24px 16px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.interest-flex {
    display: flex;
    justify-content: space-between;
}

.info-btn {
    background: none;
    cursor: pointer;
    color: #5F6368;
    display: flex;
    align-items: center;
}

.info-btn .material-symbols-outlined {
    font-size: 16px;
}

.save-profile-btn {
    padding: 8px 16px;
    border-radius: 8px;
    color: #1a73e8;
    background: none;
}

.save-profile-btn:hover {
    background: #E7F0FE;
    cursor: pointer;
}

.save-profile-btn .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1;
  margin-right: 4px;
  font-size: 20px;
}

.flex-aic {
    display: flex;
    align-items: center;
}

.interest-list button {
    font-size: 14px;
    padding: 8px 16px;
    background: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
}

.interest-list button:hover {
    background: #F8F9FA;
    cursor: pointer;
}

.interest-article {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.interest-article article {
    padding: 16px;
    background: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.interest-article article .material-symbols-outlined {
    color: #5F6368;
    margin-right: 5px;
    font-size: 16px;
}

.article-type {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.interest-article a {
    display: inline-block;
    font-size: 20px;
    color: #1a73e8;
    text-decoration: none;
    line-height: 28px;
    min-height: 56px;
}

.interest-article p {
    font-size: 16px;
    line-height: 1.5;
    min-height: 72px;
    color: #202124;
}

.product-tag {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin-top: auto;
}

.product-tag img {
    width: 32px;
    height: 32px;
}

.product-tag span {
    display: inline-block;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #5F6368;
    background: #F1F3F4;
}

.btn-swich {
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 3px;
    justify-content: center;
}

.btn-swich button {
    background: none;
    cursor: pointer;
}

.btn-swich .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 20;
    font-size: 4px;
    color: #BDC1C6;
}

.btn-swich .material-symbols-outlined:hover {
    color: #5F6368;
}


/* ================================================
    section 3 ( product-section )
================================================= */

.product-section {
    padding: 40px 0;
}

.product-section h2 {
    font-size: 48px;
    color: #202124;
    font-weight: bold;
    text-align: center;
}

.product-list {
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list a {
    width: 23.5%;
    text-decoration: none;
    color: #202124;
    line-height: 1.5;
    text-align: center;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-list a:hover {
    text-decoration: underline #1a73e8;
}

.product-box {
    padding: 8px 32px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-box figure {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box img {
    width: 64px;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
}

.view-all-btn {
    display: flex;
    justify-content: center;
}



.btn a {
    background: #1a73e8;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 4px;
}

.btn a:hover {
    background: #1964CC;
    box-shadow: 0 1px 2px #5F6368;
}


/* ================================================
    section 4 ( TRENDING NEWS )
================================================= */

.section-flex {
    display: flex;
    justify-content: space-between;
    color: #202124;
}

.trending-news-box {
    padding: 32px 40px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    gap: 80px;
    align-items: center;
}

.news-box-40 {
    width: 40%;
}

.news-box-60 {
    width: 60%;
}

.section-tag {
    font-size: 14px;
    line-height: 1.5;
}

.news-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom:30px;
}

.news-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.news-box-img {
    width: 100%;
    border-radius: 8px;
}

.mb-30 {
    margin-bottom: 50px;
}

.new-article-box {
    padding: 64px 0;
    align-items: center;
    gap: 20px;
}

.news-box-50 {
    width: 50%;
}